/* Principal */
nav #menu{
	width: 70%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	background: #111;
	border-radius: 10px;
	box-shadow:0 2px 1px #9c9c9c;
}
nav #menu li{
	float:left;
	padding:0 0 10px 0;
	position:relative;
}
nav #menu a{
	float:left;
	height: 25px;
	padding: 0 25px;
	color:#e3e3e3;
	text-transform:uppercase;
	font: 400 13px/25px;
	font-family: 'Didact Gothic', sans-serif;
	text-decoration:none;
	text-shadow: 0 1px 0 #000;
}
nav #menu li a:hover{
	color: #fafafa;
}
nav #menu li:hover>ul{
	display: block;
}
nav #menu ul{
	list-style : none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 35px;
	left:0;
	z-index:99999;
	background: #fff; 
	border-radius: 5px;
}
nav #menu ul li{
	float: none;
	margin:0;
	padding:0;
	display:block;
	box-shadow:0 1px 0 #111111, 0 2px 0 #777777;
}
nav #menu ul a {
	padding: 10px;
	height: auto;
	line-height:1;
	display:block;
	white-space:nowrap;
	float:none;
	text-transform:none;
}
nav #menu ul a:hover{
	background: #0186ba;
}
nav #menu ul li:first-child a{
	border-radius : 5px 5px 0 0;
}
nav #menu ul li:first-child a:after{
	content: '';
	position: absolute;
	left: 30px;
	top :-8px;
	width:0;
	height:0;
	border-left : 5px solid transparent;
	border-right : 5px solid transparent;
	border-bottom : 8px solid #444;
}
nav #menu ul li:first-child a:hover:after{
	border-bottom-color:#04acec;
}

nav #menu ul li:last-child a{
	border-radius: 0 0 5px 5px;
}
nav #menu ul li:last-child {
	box-shadow:none;
}
nav #menu:after{
	display:block;
	content: " ";
	clear: both;
}